#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  background-image: url("./components/GE/images/retrobgdark.png");
  background-position: center;
  background-size: cover;
}

.color-B {
  background-color: var(--pink);
}

.color-I {
  background-color: var(--electric-purp);
}

.color-N {
  background-color: var(--green);
}

.color-G {
  background-color: var(--blue);
}

.color-O {
  background-color: var(--orange);
}

.dark-bg {
  background-color: var(--bg-bingo);
  color: var(--white);
}

.contrast-bg {
  color: color-contrast(black vs black, white);
}

.dark-blur-bg {
  background-color: var(--dark-glass);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: var(--white);
}

.bingo-row-1 {
  gap: 5px;
}

.pattern-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: black;
  color: var(--white);
}

.pattern-cell {
  font-size: 0.7rem;
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  border-bottom: 1px solid black;
}

.pattern-cell:is(:hover, .clicked) {
  background-color: var(--cyan);
  color: black;
  cursor: pointer;
}

.display-nums {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  align-content: stretch;
  align-items: center;
  justify-content: center;
  color: rgba(250, 249, 243, 0.1);
}

.board-num.called {
  color: white;
}

.board-num.current {
  color: red;
}

.glass-btn {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: var(--glass-2);
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 6px;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  font-weight: 400;
  letter-spacing: -0.3px;
}

.glass-btn:hover {
  background-color: var(--orange);
  border-color: var(--orange);
  color: var(--white);
}

.underline-btn {
  color: var(--white);
  font-size: clamp(10px, 0.8vw, 16px);
  background-color: transparent;
  border: none;
  text-decoration: none;
  position: relative;
  transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.underline-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  left: 0;
  bottom: -1px;
}

.underline-btn:hover {
  transform: translateY(-5px);
}

.start-game-button {
  background-color: var(--dark-purple);
  color: var(--cyan);
  border: none;
  cursor: pointer;
  box-shadow: 0 7px var(--darker-purple);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  display: inline-block;
}

.start-game-button:hover {
  background-color: var(--purple);
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--cyan);
}

.start-game-button:active {
  background-color: var(--dark-purple);
  box-shadow: 0 3px var(--darker-purple);
  transform: translateY(4px) scale(1.05);
}

.modal-content {
  background-color: rgb(31, 31, 31) !important;
  color: #faf9f3 !important;
}

.custom-form {
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
}

.custom-form > input {
  background-color: transparent;
  border: none;
  border-radius: inherit;
  color: var(--white);
}

input:is(:focus) {
  outline: none;
}

.typing-effect {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
  text-transform: uppercase;
}

/* Blinking Cursor Effect */
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
