:root {
  --roboto-font: "Roboto Mono", monospace;
  --montserrat-font: "Montserrat", sans-serif;

  /* Bingo Palette Colors */
  --pink: #ff007b;
  --yelorange: #f9b44c;
  --blue: #3887ff;
  --green: #0cf8c0;
  --dark-green: color-mix(in srgb, var(--green), black 60%);
  --electric-purp: #8c1eff;
  --violet: #6f0079;
  --dark-violet: color-mix(in srgb, var(--violet), black 60%);
  --light-purple: #9a32cd;
  --darker-purple: #18041f;
  --purple: #7200a8;
  --dark-purple: #56007c;
  --cyan: #00ffea;
  --orange: #ff4e27;
  --glass: rgba(49, 49, 49, 0.5);
  --glass-2: hsla(0, 0%, 100%, 0.1);
  --dark-glass: rgba(21, 21, 21, 0.8);
  --bg-bingo: #1c1c1c;
  --white: #faf9f3;
}

html,
body {
  font-family: var(--montserrat-font);
  -webkit-font-smoothing: antialiased;
}

.robo-font {
  font-family: var(--roboto-font);
}

.mont-font {
  font-family: var(--montserrat-font);
}

.fw-b {
  font-weight: 700;
}

.square {
  aspect-ratio: 1;
}

.circle {
  aspect-ratio: 1;
  border-radius: 50%;
}

.round-corners {
  border-radius: 12px;
}

.round-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.height-100vh {
  height: 100vh;
}

.flex-grow-true {
  flex-grow: 1;
}

.gap-sm {
  gap: 12px;
}
